urxvt.perl-ext-common: default,eval,resize-font

URxvt.font: xft:iosevka:size=12,xft:Symbola,xft:Noto Emoji:minspace=False,xtf:Font Awesome 6 Duotone-Solid-900:size=12

URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.internalBorder: 0

URxvt.cursorBlink: true
URxvt.cursorColor: #dfdfdd
URxvt.cursorUnderline: false

URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:reset
URxvt.keysym.C-equal:     resize-font:bigger
URxvt.keysym.C-question:  resize-font:show

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard


!! Colorscheme
! special
*.foreground: #D1D0D1 
*.background: #000000
*.cursorColor: #dfdfdd

! black
*.color0: #252525 
*.color8: #3F3F3F 

! red
*.color1: #9B1300 
*.color9: #730B00 

! green
*.color2: #3e8701
*.color10: #46ab6e

! yellow
*.color3: #DFBC72 
*.color11: #FFDE99 

! blue
*.color4: #719CDF 
*.color12: #007299 

! magenta
*.color5: #696ebf
*.color13: #98BEDE 

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #F1F1F1 
*.color15: #BFBFBF 

URxvt.transparent: true
URxvt.shading: 20
Xcursor.size: 16

