[user]
	email = labradordeil@mail.ru 
	name = lalapopa
[credential]
	helper = cache
[core]
	excludesfile = /home/lalapopa/.dot-gitignore
    editor = vim
	compression = 0
[init]
  defaultBranch = main

