[user]
	email = labradordeil@mail.ru 
	name = lalapopa
[credential]
	helper = cache
[core]
	exccludesfile = /home/lalapopa/.dot-gitignore
	excludesfile = /home/lalapopa/.dot-gitignore
    editor = vim

