snippet uml "PlantUML env" b 
\`\`\`plantuml
${1}
\`\`\`
endsnippet

snippet tags "Add tags" b
Tags:

	#${1}
endsnippet

snippet link "Link to something without http"
[${1:${VISUAL:Text}}](${2:www.url.com})$0
endsnippet


# vim:ft=snippets:
